header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


body{
  /* background-color: rgba(47, 255, 120, 0.766); */
  background-image: linear-gradient(180deg,rgb(49, 207, 49), grey, rgb(49, 207, 49));
}

.header {
  color: white
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

h1 a {
  color: white
}